.stopwatch{
    padding:40px 0;
    h2{
        text-align: center;
        font-size:5rem;
    }
    button{
        padding:10px 20px;
        border:1px dotted white;
        border-radius: 25px;
        margin:0 15px;
        cursor:pointer;
        color:white;
        font-weight:bold;
    }
    .start{
        background:green
    }
    .stop{
        background:rgb(230, 56, 33)
    }
    .resume{
        background:rgb(33, 33, 33)
    }
    .reset{
        background:rgb(5, 90, 168)
    }
}